<div>Account Info</div>

<div id="profile-photo"><%= image_tag current_user.profile_photo.to_s %></div>

<div>Username: <%= @user.username %></div>

<div>Email: <%= @user.email %></div>

<div>Account Create On: <%= @user.created_at %></div>

<div><%= link_to "Edit my Account", edit_registration_path(@user) %></div>

<div><%= link_to "Back", restaurants_path %></div>
