<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <div>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:
      </div>

      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %><br>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %><br>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %><br>
  </div>

  <div class="field">
    <%= f.label :cuisine_id %>
    <%= f.select :cuisine_id, cuisines_to_array %><br>
  </div>

  <div class="actions">
    <%= f.submit class: "small radius button" %>
  </div>

<% end %>
