<div><%= @restaurant.name %></div>

  <div>
    <div>Address:</div>
    <%= @restaurant.address %>
  </div>
    <div>Rating:</div>
    <%# @restaurant.rating %>
  </div>
    <div>City:</div>
    <%= @restaurant.city %>
  </div>
  <div>
    <div>Type of Cuisine:</div>
    <% if @restaurant.cuisine.present? %>
      <%= @restaurant.cuisine.name %>
    <% else %>
      Uncategorized
    <% end %>
  </div>
  <div>
    <div>Description:</div>
    <%= @restaurant.description %>
  </div>

<% if @restaurant.owner?(current_user) %>
  <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) -%> |
  <%= link_to 'Delete Restaurant', restaurant_path(@restaurant), method: :delete %>
<% end %>

<%= link_to 'Back to all restaurants', restaurants_path %>

<%= link_to 'Add a Review for this Restaurant', new_restaurant_review_path(@restaurant) %>

<div>Reviews</div>

<% if user_signed_in? %>
  <%= render '/reviews/form' %>
<% else %>
  <%= link_to 'Sign in to add a review', new_user_session_path %>
<% end %>

  <div>
    <% if @restaurant.reviews.none? %>
      <div> No Reviews yet for this restaurant </div>
    <%-else-%>
      <% @restaurant.reviews.order('created_at desc').each do |review| %>
        <div>
          <div>
            <% if current_user == review.user %>
              <div>
                <%= link_to "Delete review", review_path(review), method: :delete %>
              </div>
            <% end %>
            <% if current_user == review.user %>
              <div>
                <%= link_to "Edit Review", edit_restaurant_review_path(review.restaurant, review) %>
              </div>
            <% end %>
            <div>Rating(1-5):
            <%= review.rating %>
            </div>
            <div>Review:
            <%= review.body %>
            </div>
            <div>Submitted On:
            <%= review.created_at %>
            </div>
          </div>
        </div>
      <%-end-%>
    <%-end-%>
  </div>


<%= link_to 'Back to all restaurants', restaurants_path %>
