<div><%= @restaurant.name %></div>

<div>
  <div>Address:</div>
  <div><%= @restaurant.address %></div>
</div>
<div>
  <div>Rating:</div>
  <div><%# @restaurant.rating %></div>
</div>
<div>
  <div>City:</div>
  <div><%= @restaurant.city %></div>
</div>
<div>
  <div>Type of Cuisine:</div>
  <% if @restaurant.cuisine.present? %>
    <div><%= @restaurant.cuisine.name %></div>
  <% else %>
    <div>Uncategorized></div>
  <% end %>
</div>
<div>
  <div>Description:</div>
  <div><%= @restaurant.description %></div>
</div>

<% if @restaurant.owner?(current_user) %>
  <div>
    <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %>
  </div>
  |
  <div>
    <%= link_to 'Delete Restaurant', restaurant_path(@restaurant), method: :delete %>
  </div>
<% end %>

<div>
  <%= link_to 'Back to all restaurants', restaurants_path %>
</div>

<div>
  <%= link_to 'Add a Review for this Restaurant', new_restaurant_review_path(@restaurant) %>
</div>

<div>Reviews</div>

<% if user_signed_in? %>
  <div>
    <%= render '/reviews/form' %>
  </div>
<% else %>
  <div>
    <%= link_to 'Sign in to add a review', new_user_session_path %>
  </div>
<% end %>

<div>
  <% if @restaurant.reviews.none? %>
    <div> No Reviews yet for this restaurant </div>
  <% else %>
    <% @restaurant.reviews.order('created_at desc').each do |review| %>
      <div>
        <div>
          <%# link_to "Up vote",  id: review.id %>
          <%# link_to "Down vote", id: review.id %>
          <div>Rating(1-5):
            <div><%= review.rating %></div>
          </div>
          <div>Review:
            <div><%= review.body %></div>
          </div>
          <div>Submitted On:
            <div><%= review.created_at %></div>
          </div>

          <% if current_user == review.user %>
            <div>
              <%= link_to "Delete review", review_path(review), method: :delete %>
            </div>
            <div>
              <%= link_to "Edit Review", edit_restaurant_review_path(review.restaurant, review) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div>
  <%= link_to 'Back to all restaurants', restaurants_path %>
</div>
