<div>All Users</div>

<div class="row">
  <div class="medium-10 columns">
    <ol>
      <% @users.each do |user| %>
        <div>
          <li>
            <p><%= user.username %></p>
            <p><%= user.email %></p>
            <p><%= user.role %></p>
            <p><%= user.remember_created_at %></p>
            <p><%= user.sign_in_count %></p>
            <p><%= user.last_sign_in_at %></p>
            <%= link_to "Delete user", admin_user_path(user), method: :delete %>
          </li>
        </div>
      <% end %>
    </ol>
  </div>
</div>
