<div>All Users</div>

<div class="row">
  <div class="medium-10 columns">
    <ol>
      <% @users.each do |user| %>
        <div class="user-details">
          <li>
            <p>Username: <%= user.username %></p>
            <p>Email: <%= user.email %></p>
            <p>Role: <%= user.role %></p>
            <p>Created at: <%= user.created_at %></p>
            <p>Sign in count: <%= user.sign_in_count %></p>
            <p>Last sign in: <%= user.last_sign_in_at %></p>
            <%= link_to "Delete user", admin_user_path(user), method: :delete %>
          </li>
        </div>
      <% end %>
    </ol>
  </div>
</div>
