<h3>Have an opinion about <b><%= @restaurant.name %></b>? let others know!</h3>
<%= form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%-end-%>
      </ul>
    </div>
  <%-end-%>

  <fieldset class="rating">
      <legend>How badly did it bomb?</legend>
      <input type="radio" id="star5" name="review[rating]" value="5" /><label for="star5" title="Awful!">5 stars</label>
      <input type="radio" id="star4" name="review[rating]" value="4" /><label for="star4" title="Pretty terrible">4 stars</label>
      <input type="radio" id="star3" name="review[rating]" value="3" /><label for="star3" title="Sucks big time">3 stars</label>
      <input type="radio" id="star2" name="review[rating]" value="2" /><label for="star2" title="Bleh">2 stars</label>
      <input type="radio" id="star1" name="review[rating]" value="1" /><label for="star1" title="Sub par">1 star</label>
  </fieldset>

  <div class="field">Current Image: <%= @review.image_url.to_s.split("/").last %></div>
  <div class="field">
    <%= f.label :image_url %>
    <%= f.file_field :image_url, type: :file %>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %>
    <%= f.text_area :body, placeholder: "optional..." %><br>
  </div>

  <%= f.hidden_field :rage_level, value: "a little ticked" %>

  <div class="field">
    <button class="button alert round" id="rage-button" type="button">
      How pissed are you? click here!
    </button>
  </div>

  <div class="actions">
    <%= f.submit class: "small radius button" %>
  </div>
<%-end-%>
