<h3>Have an opinion about <b><%= @restaurant.name %></b>? let others know!:</h3>
<%= form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%-end-%>
      </ul>
    </div>
  <%-end-%>

  <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, Review::RATINGS %><br>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %>
    <%= f.text_area :body, placeholder: "optional..." %><br>
  </div>

  <div class="actions">
    <%= f.submit class: "small radius button" %>
  </div>
<%-end-%>
