<!DOCTYPE html>
<html>
<head>
  <title>Never Again... Boston's Worst Restaurants</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Raleway|Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <div class="my-h1"><a href="/">Never Again...</a></div >
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
      </ul>

      <ul class="right">
        <li class="has-form search-bar ">
          <div class="row">

            <%= form_tag(restaurants_path, method: 'get') do %>
              <div class="large-8 small-8 columns" id="centered-search-bar">
                <%= text_field_tag :search,  params[:search], placeholder: "Search Boston's worst", id: "search-bar-field" %>
              </div>
              <div class="large-4 small-3 columns">
                <%= submit_tag "Search", name: nil, class: "alert button", id: "search-button" %>
              </div>
            <% end %>
          </div>
        </li>
        <li class="right-buttons">
          <%- if current_user -%>
            <li><%= link_to 'My Account', user_path(current_user) %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </li>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>


  <%= yield %>


  <%= javascript_include_tag 'application' %>
  <%# yield :extra_footer %>

  <footer class="row">
  <div class="large-12 columns"><hr/>
    <div class="row">

      <div class="large-6 columns">
        <ul class="inline-list">
          <li class="left">A Launch Academy Production.</li>
          <li>© Copyright Go Team, 2015:</li>
        </ul>
      </div>

      <div class="large-6 columns">
          <ul class="inline-list left">
            <li><a href="https://github.com/ttriggs">Tyler Triggs,</a></li>
            <li><a href="https://github.com/Mafooch">Josh Maffuccio,</a></li>
            <li><a href="https://github.com/FBraman">Frank Braman</a></li>
          </ul>
      </div>

    </div>
  </div>
  </footer>

</body>
</html>
